<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="SoFinder">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">packages/sofinder-symfony/src</directory>
            <directory suffix=".php">packages/sofinder-core/src</directory>
            <directory suffix=".php">packages/sofinder-http/src</directory>
            <directory suffix=".php">packages/sofinder-psr15/src</directory>
        </include>
    </source>
</phpunit>
